#header {
    background-color: lightgreen;
    min-height: 8vh;
    padding-top: 1.2vh;
}


    #header div {
        margin-bottom: 10px;
    }
@media (max-width: 768px) {


    /*#map > div {
        width: 97% !important;
    }*/
}
@media screen and (max-width: 732px) , screen and (max-height: 412px) {
    #map {
       height: 80vh; 
   }
}

@media (min-width: 768px) {
    #map > div {
        /*width: 99% !important;*/
    }
    .navbar-collapse {
        width: 91.66666667% !important;
    }
}
#map a img ,.gm-style-mtc,.gm-style-mtc div,.gm-style-cc{
    display: none;
    height: 0px;
    width: 0px;
}
#map > div {
 
      height: 95% !important;
    width: 98% !important;
    top: 2.5%;
    left: 1%;
    right: 1%;
    bottom: 1%;
}

#map {

    height: 85.6vh;
}

.navbar-toggle, .icon-bar {
    border-color: black;
}

.icon-bar {
    background: black;
}

#footer {
    background-color: lightblue;
    height: 4.5vh;
    padding-top: 0.5vh;

    width: 100%;
    bottom: 0;
}

.logo {
    width: 50px;
    height: 30px;
}

