@media(max-width:767px) {
    .navbar-inverse .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .carousel-caption {
        bottom: 0px;
    }

        .carousel-caption h1 {
            font-size: 12px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .carousel-caption .lead {
            font-size: 8px;
            margin-bottom: 0px;
        }

    .cat {
        margin-left: 30px;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .carousel-caption {
        bottom: 0px;
    }

        .carousel-caption .lead {
            font-size: 16px;
            margin-bottom: 40px;
        }

        .carousel-caption h1 {
            font-size: 22px;
        }
}

@media(min-width:992px) and (max-width:1199px) {
    .carousel-caption {
        bottom: 40px;
    }

        .carousel-caption .lead {
            font-size: 16px;
            margin-bottom: 40px;
        }

        .carousel-caption h1 {
            font-size: 22px;
        }
      
}

@media(min-width:1200px) {
}
@media only screen  and (min-width : 1000px) {
/* Styles */
  #map > div {
    height: 95% !important;
    width: 98% !important;
    top: 2.5%;
    left: 1%;
}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px)and (max-width : 1000px) {
    #map > div {
        height: 95% !important;
        width: 95% !important;
        top: 2.5%;
        left: 2.5%;
    }
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
    #map {
        height: 78.6vh;
    }
}


/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    #map {
        height: 87.6vh;
    }

        #map > div {
            height: 97% !important;
            width: 98% !important;
            top: 1.5%;
            left: 1%;
            right: 1%;
            bottom: 1%;
        }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    #map {
        height: 81.6vh;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}



/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) {

    #map {
        height: 76.5vh;
    }

        #map > div {
            height: 94% !important;
            width: 98% !important;
            top: 3%;
            left: 1%;
        }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) {
    #map {
        height: 85vh;
    }

        #map > div {
            height: 97% !important;
            width: 95% !important;
            top: 1.5%;
            left: 2.5%;
        }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) {
    /* Styles */
    #map {
        height: 74vh;
    }

        #map > div {
            height: 94% !important;
            width: 96.5% !important;
            top: 3%;
            left: 2%;
        }

    #footer {
        background-color: lightblue;
        height: 6vh;
        padding-top: 0.5vh;
        width: 100%;
        bottom: 0;
        padding: 0px;
    }
}


@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) {
    /* Styles */
    #map {
        height: 83.6vh;
    }

        #map > div {
            height: 98% !important;
            width: 97% !important;
            top: 1%;
            left: 1.5%;
            right: 1%;
            bottom: 1%;
        }
}
/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}
